a {
    color: white;
}

#Home{
    background-image: url("../img/ordinateur2.jpg");
    background-size: cover;
    height: 1130px;
}

#logo-reseaux {
    display: block;
    justify-content: center;
    color: white;
    top: 50%;
}

#titre {
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    top: 44%;
    left: 887px;
    font-size: 45px;

}

#menu {
    display: block;
    float: right;
}


